<%- include('./public/header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/tagList.css']
}) %>

<div class="container">
    <div class="tag clearfix">
        <div class="tag-main-l">
            <div class="tag-header clearfix">
                <h3>热门标签</h3>
                <div class="tab-list">
                    <a href="javascript:;" data-time="" class="active">全部</a>
                    <a href="javascript:;" data-time="week">7日</a>
                    <a href="javascript:;" data-time="mount">30日</a>
                </div>
            </div>

            <div class="tag-body clearfix">
                <% for (let i = 0; i < topics_list.length; i++) {
                    let item = topics_list[i] %>

                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src='<%= item.topic_pic %>' alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="/taginfo?id=<%= item.topic_id %>"><%= item.topic_title %></a></p>
                        <p><%= item.topic_description %> </p>
                        <p>
                            <span><%= item.focus_count %>人关注</span>
                            <span><%= item.discuss_count %>个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <% if(item.has_focus){ %>
                        <a href="javascript:;" data-topicID="<%= item.topic_id %>" class="cancle-attention">已关注</a>
                        <% }else { %>
                        <a href="javascript:;" data-topicID="<%= item.topic_id %>" class="attention">关注</a>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="tab-footer">
                <a href="javascript:;" class="more-tag">点击加载更多</a>
            </div>
        </div>

        <div class="tag-main-r">
            <%- include('./public/topic', {
            title: '热门',
            data: posts_list
            }) %>
        </div>
    </div>
</div>

<%- include('./public/footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js','http://static.huoxing24.com/assets/simplePagination.js'],
private: ['./js/tagList.js']
}) %>