<div class="topic">
    <dl class="topic-list">
        <dd><%= title %>话题</dd>
        <% for (let i = 0; i < data.length; i++) {
            let item = data[i] %>
        <dt>
            <a href="<%= item.url %>" data-ansID=<%= item.question_id %>>
                <%= item.question_content %>
                <span><%= item.answer_count %>个回答</span></a>
        </dt>
        <% } %>
    </dl>
</div>
